table, th, td {
  border: 2px solid #569ECB;
  padding: 3px;
}

.mar-au {
  margin: 1px;
}

.pas {
	margin: 5px;
        position: relative;
        border: 2px solid green;        
        border-radius: 10px;
	padding: 10px;
        background-color: rgb(230, 230, 230);
}

body {
	background-color: rgb(20, 20, 20);
	color:  #0099cc;
}

hr {
	background-color: green;
}

@media only screen and (min-width: 1100px) {
	.grid-container-5 {          
		display: grid;
		justify-content: space-between; 
		grid-template-columns: 20% 20% 20% 20% 20%;
	}
	.file-container {
	  border-radius: 10px;
	  /*background-color: rgb(230, 230, 230);*/
	  border: 2px solid green;
	  color: white;
	  position: relative;
	  display: flex;
	  padding: 10px;
	  margin: 5px;
	  /*box-shadow: 3px 3px 3px #aaaaaa;*/
	}

	.file-container i {
		color: #0099cc;
	}

	.file-container a {
	  word-wrap: 20px;
	  color:  #0099cc;
	}

	/*
	.file-container:hover {
	  background-color: rgb(230, 236, 248);
	}*/

	.file-container:hover .o {
	  visibility: visible;
	  transition: 2s;
	}


	.grid-container {
		display: grid;
		justify-content: space-between;
		grid-template-columns: 25% 25% 25% 25%;
	}


	.grid-container-2 {
		display: grid;
		justify-content: space-between;
		grid-template-columns: 50% 50%;
	}


	audio {
		border-radius: 10px;
		margin: 1px;
		align-items: center;
	}

	.chat-container-2 {
    	flex-wrap: wrap;
    	padding: 10px;
    	top: 60px;
    	left: 200px;
    	right: 8%;
    	position: absolute;
	}
		
	.vertical-menu {
	  width: 140px;
	  top: 50px;
	  padding-bottom: 5px;
	  padding-right: 5px;
	  padding-top: 5px;
	  border-bottom-right-radius: 10px;
	  border-top-right-radius: 10px;
	  background-color: rgb(50, 60, 60);
	  position: fixed;

	}

	.vertical-menu a {
	  float: right;
	  color: #f2f2f2;
	  padding: 10% 42px;
	  text-decoration: none;
	  font-size: 15px;
	  border-bottom-right-radius: 6px;
	  border-top-right-radius: 6px;
	  width: 100%;
	}


	.vertical-menu a:hover {
	  background-color: #ddd;
	  transition: 1s;
	  color: black;
	  width: 100%;
	}


	.vertical-menu a.active {
	  background-color: green;
	  color: white;
	  float: right;
	  padding: 10% 42px;
	  width: 100%;
	}
}




@media only screen and (max-width: 1100px) {
	.grid-container-5 {          
		display: grid;
		justify-content: space-between; 
		grid-template-columns: 50% 50%;
	}





	body {
		width: 500%;
		height: 500%;
	}
	.file-container {
	  border-radius: 10px;
	  border: 2px solid green;
	  /*background-color: rgb(230, 230, 230);*/
	  position: relative;
	  display: flex;
	  padding: 10px;
	  margin: 5px;
	  /*box-shadow: 3px 3px 3px #aaaaaa;*/
	}

	.file-container a {
	  word-wrap: 20px;
	}


	.file-container i {
		color: #0099cc;
	}
	/*
	.file-container:hover {
	  background-color: rgb(230, 236, 248);
	}*/

	.file-container:hover .o {
	  visibility: visible;
	  transition: 2s;
	}

	.file-container a {
	  word-wrap: 20px;
	  color:  #0099cc;
	}


	.grid-container {
		display: grid;
		justify-content: space-between;
		grid-template-columns: 50% 50%;
	}
		
	.grid-container-2 {
		display: grid;
		justify-content: space-between;
		grid-template-columns: 100%;
	}

	audio {
		border-radius: 10px;
		margin: 1px;
		align-items: center;
	}

	.chat-container-2 {
    	flex-wrap: wrap;
    	padding: 10px;
    	top: 60px;
    	left: 1%;
    	right: 1%;
    	position: absolute;
	}



	.vertical-menu {
		position: fixed;
		right: 5px;
		left: 5px;
		top: 5px;
		padding: 7px;
		border-radius: 10px;
		background-color: rgb(50, 50, 50);
		overflow: hidden;
		transition: top 0.3s;
		z-index: 1;
		transition: top 0.3s;
	}
	.vertical-menu a {
		float: right;
		color: #f2f2f2;
		text-align: center;
		padding: 10px 30px;
		text-decoration: none;
		font-size: 15px;
		border-radius: 6px;
	}



	.vertical-menu a:hover {
		background-color: #ddd;
		transition: .5s;
		color: black;
	}

	  

	.vertical-menu a.active {
		float: right;
		color: white;
		text-align: center;
		padding: 10px 30px;
		text-decoration: none;
		font-size: 15px;
		border-radius: 6px;
		background-color: green;
		color: white;
	}

}










.image-container {
  /*background-color: rgb(230, 230, 230);*/
  border: 2px solid green;
  position: relative;
  padding: 10%;
  text-align: center;
  margin: 3px;
  border-radius: 8px;
}

.image-container img {
  border-radius: 6px;
  padding: all;
  word-wrap: break-word;
  width: auto;
  height: 130px;
  max-width: 100%;
}

.image-container a {
  flex-wrap: wrap;
  color: rgb(200, 200, 200);
  flex-direction: row;
}




/*
.image-container:hover {
  background-color: rgb(230, 236, 248);

  box-shadow: all;
}
*/

.music-image {
  border-radius: 8px;
  margin-right: 20px;
  width: 125px;
  height: 125px;
}

video {
	width: auto;
	height: 200px;
	border-radius: 10px;
}

.mid {
 	left: 40px;
	top: 40px;
	position: absolute;
}

a {
  color: black;
  margin-left: 10px;
}

i {
  color: black;
  margin-left: 10px;
}

.log {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  padding: 20px;
<<<<<<< HEAD
  top: 50px;
=======
>>>>>>> a8e19f68e1f80dab6a4a325d391f923b4cec7549
  border-radius: 10px;
}

.filed {
	border-radius: 10px;
	border: 2px solid black;
}

.crop {
	overflow:hidden;
}​

div.scrollmenu {
	background-color: #333;
	overflow: auto;
 	white-space: nowrap;
}

div.scrollmenu td {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}





.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}



.dropdown-content a:hover {
  background-color: #ddd;
}

