table, th, td {
  border: 2px solid #569ECB;
  padding: 3px;
}

.mar-au {
  margin: 1px;
}



audio {
  border-radius: 10px;
  margin: 1px;
}

.vertical-menu {
  width: 140px; /* Set a width if you like */
  top: 50px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-top: 5px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(80, 90, 90);
  position: fixed;

}

.vertical-menu a {
  float: right;
  color: #f2f2f2;
  padding: 10% 42px;
  text-decoration: none;
  font-size: 15px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  width: 100%;
}


.vertical-menu a:hover {
  background-color: #ddd;
  transition: 1s;
  color: black;
  width: 100%;
}


.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
  float: right;
  padding: 10% 42px;
  width: 100%;
}




/*______________________________top menu___________________________*/

.topnav {
    position: fixed;
    right: 5px;
    left: 5px;
    top: 0;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(80, 90, 90);
    overflow: hidden;
    transition: top 0.3s;
    z-index: 1;
    transition: top 0.3s;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 6px;
}



  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    transition: .5s;
    color: black;
}

  
/* Add a color to the active/current link */
.topnav a.active {
    float: right;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 6px;
    background-color: #4CAF50;
    color: white;
}









.image-container {
  background-color: rgb(230, 230, 230);
  position: relative;
  padding: 10%;
  text-align: center;
  margin: 3px;
  border-radius: 4px;
}

.image-container img {
  border-radius: 6px;
  padding: all;
  word-wrap: break-word;
  width: auto;
  height: 130px;
  max-width: 100%;
}

.image-container a {
  flex-wrap: wrap;
  flex-direction: row;
}



.file-container {
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  position: relative;
  display: flex;
  padding: 10px;
  margin: 5px;
  box-shadow: 3px 3px 3px #aaaaaa;
}

.file-container a {
  word-wrap: 20px;
}

.file-container:hover {
  background-color: rgb(230, 236, 248);
}

.file-container:hover .o {
  visibility: visible;
  transition: 2s;
}

.image-container:hover {
  background-color: rgb(230, 236, 248);
  box-shadow: all;
}


.grid-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid-container-2 {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 50% 50%;
}

.chat-container-2 {
    flex-wrap: wrap;
    padding: 10px;
    top: 60px;
    left: 250px;
    right: 10%;
    position: absolute;
}

.mid {
 	left: 40px;
	top: 40px;
	position: absolute;
}

a {
  color: black;
  margin-left: 10px;
}

.log {
  left: 20%;
  top: 30px;
  position: absolute;
}

div.scrollmenu {
	background-color: #333;
	overflow: auto;
 	white-space: nowrap;
}

div.scrollmenu td {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
