{% load static %}
<HTML>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'base/st.css' %}">
    </head>
    <body>
    	<style type="text/css">
    		body {
    			display: flex;
    			justify-content: center;
    			align-items: center;
    			top: 30px;
    		}
    	</style>
    	<div class="log">
    		<img src="{% static 'base/images.png' %}">
	    	<form action="{% url 'base:wel' %}" id="ch" method="post">
	    		{% csrf_token %}
	    		<input type="username" placeholder="Username" name="username">
	    		<br>
	    		<br>
	    		<input type="password" placeholder="Password" name="password">
				<br>
				<br>

	    		<input type="submit" value="Login">

	    	</form>
    	</div>
		
    </body>
</HTML>

