{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="{% static 'base/bash.png' %}">
	<title>{{ type }}</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'base/st.css' %}">
</head>

<body>

	<div class="vertical-menu">

		
		
		<a href="{% url 'base:wel' %}">Home</a>
		{% if type == 'Musics' %}
			<a href="{% url 'base:home' 'musics' %}" class='active'>Music</a>
		{% else %}
			<a href="{% url 'base:home' 'musics' %}">Music</a>
		{% endif %}


		{% if type == 'Images' %}
			<a href="{% url 'base:home' 'images' %}" class='active'>Images</a>
		{% else %}
			<a href="{% url 'base:home' 'images' %}">Images</a>
		{% endif %}


		{% if type == 'Document' %}
			<a href="{% url 'base:home' 'document' %}" class='active'>Docs</a>
		{% else %}
			<a href="{% url 'base:home' 'document' %}">Docs</a>
		{% endif %}


		{% if type == 'Serials' %}
			<a href="{% url 'base:home' 'serials' %}" class='active'>Movies</a>
		{% else %}
			<a href="{% url 'base:home' 'serials' %}">Movies</a>
		{% endif %}

	</div> 


	<div class="chat-container-2">
		<h2>{{ type }}</h2>
		<hr>
		{% if files %}
			
			<div class="grid-container">
				{% for i in files %}
						{% if i.format == 'directory' %}

							<div class="file-container crop">
								<div>
								<img src="{{ STATIC_PREFIX }}base/folder.png" width="30" height="30">
								<a href="{% url 'base:go_to_directory' i.path type %}">{{ i.title }}
								</a>
							</div>
							</div>
						{% endif %}
				{% endfor %}
			</div>


			<div class="grid-container-2">
			{% for i in files %}
					{% if i.format == 'video' %}
						<div class="file-container crop">
							{% if i.review %}
								
								<a href="{% url 'base:down' i.path %}">
								<img src="{% static 'base/video.png' %}" width="30" height="30">
								{{ i.title }}</a>
								<hr>
								
							{% else %}
								<a href="{% url 'base:down' i.path %}">
								<img src="{% static 'base/video.png' %}" width="30" height="30">
								{{ i.title }}</a>
							{% endif %}
							
							
							<hr>
							
						</div>
					{% endif %}
			{% endfor %}
			</div>
			<br>

			<div class="grid-container">
				{% for i in files %}
						{% if i.format == 'sub' %}
							<div class="file-container crop">
								<a href="{% url 'base:down' i.path %}">
								<img src="{% static 'base/pdf.png' %}" width="30" height="30">
								{{ i.title }}</a>
							</div>
						{% endif %}
				{% endfor %}
			</div>



			
			<div class="grid-container-2">
				{% for i in files %}
						{% if i.format == 'document' %}
							<div class="file-container crop">
								<a href="{% url 'base:down' i.path %}">
								<img src="{% static 'base/pdf.png' %}" width="30" height="30">
								{{ i.title }}</a>
								<hr>
							</div>
						{% endif %}
				{% endfor %}
			</div>
			<div class="grid-container-2">
			{% for i in files %}
					{% if i.format == 'mp3' %}

						<div class="file-container crop">
							<img class="music-image" src="{{ STATIC_PREFIX }}base/music_image/{{ i.image_str }}">
							
							<br>
							
							<div class="mar-au">
							<a href="{% url 'base:down' i.path %}">{{ i.name }} -- <i>{{ i.date }}</i></a>
							<br>
							<i>{{ i.artist }} -- ({{ i.genre }})</i>
							<hr>
							<audio controls="">
								<source src="{{ STATIC_PREFIX }}base/ed/{{ i.title }}" type="">
							</audio>

							
							</div>
						</div>
					{% endif %}
			{% endfor %}
			</div>

			<div class="grid-container">
			{% for i in files %}
					{% if i.format == 'image' %}
					
						<div class="image-container crop">
							<div>
							<img src="{{ STATIC_PREFIX }}base/ed/{{ i.title }}">

							<hr>
							<a href="{% url 'base:down' i.path %}">
							{{ i.title }}</a>
							</div>
						</div>
					
					{% endif %}
			{% endfor %}

			
		</div>
						
					
			
		{% else %}
			<div class="alert alert-primary" role="alert">
			  There is no file!
			</div>
		{% endif %}
	</div>



	<script src="https://vjs.zencdn.net/7.10.2/video.js"></script>
</body>
</html>
